/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/settings/_colors'
 
$theme := {
  primary: $blue-grey.darken-3
  accent: $red.accent-2
  secondary: $grey.darken-1
  info: $blue.lighten-1
  warning: $amber.darken-2
  error: $red.accent-4
  success: $green.lighten-2
}

$side-spacing-vp-width-1279=  10vw;
$side-spacing-vp-width-1280-1365= 12vw;
$side-spacing-vp-width-1366-1919= 15vw;
$side-spacing-vp-width-1920= 20vw;
 
@import '../../node_modules/vuetify/src/stylus/main'

.full-height {
    height: 100% !important;
}

html {
    overflow-y: auto;
}
